#!/bin/bash

set -x

# Check for OCM installation
ocm > /dev/null 2>&1 || echo "Please ensure ocm is installed"

# Format colon-separated lines into a JSON object that the shell provider can read
ocm gcp describe wif-config ${wif_config_name}  | jq -R --slurp 'split("\n") |map(select(length>0)) | map(split(":\\s+"; null)) | map( {(.[0]): .[1]} ) | reduce .[] as $item ({}; . * $item)'
